* {
				font-family: Arial, Verdana, sans-serif;
				color: #665544;
				text-align: center;}

			body {
				width: 90%;
				margin: 0 auto;
        background-image: url("https://plus.unsplash.com/premium_photo-1701090939615-1794bbac5c06?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Z3JheSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D");
        background-repeat: no-repeat;
        background-size: cover;}
			#content {
				overflow: auto;}
			#nav, #feature, #footer {
				margin: 1%;}
			.column1, .column2, .column3 {
				width: 48%;
				float: left;
				margin: 1%;}
			.column3 {
				margin-right: 0%;}
			li {
				display: inline;
				padding: 0.5em;}
			#nav, #footer {
				background-color: #FFFF99;
				padding: 0.5em 0;}
			#feature, .article {
				height: 10em;
				margin-bottom: 1em;
				background-color: #efefef;}

.header {
  font-family: 'CooperHewittBoldItalic';
   font-weight: normal;
   font-style: normal;
}
